/* Regular */
@font-face {
    font-family: 'The Seasons';
    src: url('../fonts/The Seasons Regular.ttf') format('opentype');
    font-weight: 400;  /* normal weight */
    font-style: normal;
}


/* Bold Italic */
@font-face {
    font-family: 'The Seasons';
    src: url('../assets/fonts/The Seasons Bold Italic.ttf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'The Seasons';
    src: url('../assets/fonts/The Seasons Light.ttf') format('opentype');
    font-weight: 300;  /* light weight */
    font-style: light;
}


body {
    position: relative; 
    margin: 0;
    min-height: 100vh;

    background-image:
        url('../rawis-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: block;
    background: linear-gradient(to bottom, black, transparent 75%);


    backdrop-filter: blur(5px);

    z-index: 1;
}   

body > * {
    position: relative;
    z-index: 2;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
    height: auto;
    display: block;
    margin: -20px auto -30px auto;
}

.logo h1 {
    font-family: 'The Seasons', serif;
    font-size: 50px;
    color: #531e07;
    margin: 0;
    font-style: italic;
}

.logo h2 {
    font-family: 'The Seasons', serif;
    font-size: 23px;
    color: #531e07;
    margin: -10px auto 30px auto;
    font-style: normal;
}


.login-container {
    width: 90%;
    max-width: 450px;
    padding: 20px;
    background: radial-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(217, 149, 61, 0.6)
    );
    border-radius: 15px;
    border: #f6c588 3px solid;
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    text-align: center;
}

.input-group {
    display: flex;        
    align-items: center;  
    justify-content: center;
    margin-bottom: 20px;
    gap: 15px;          
}

.input-group .input-icon {
    width: 50px;   
    height: 50px;
}

.input-group input {
    flex: 1;                     
    padding: 8px;
    font-size: 16px;
    color: #531e07;
    text-align: center;
    font-family: Poppins, sans-serif;
    border-radius: 50px;
    border: 4px solid #531e07;
    background: radial-gradient(#fdecd4,#d9953d);
    min-width: 200px;
    max-width: 250px;
}

.input-group input::placeholder {
    color: #531e07;
    opacity: 0.7;
}

.login-button {
    width: 100%;
    padding: 8px;
    font-size: 18px;
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-weight: bold;

    background:
        linear-gradient(#531e07, #531e07) padding-box,
        radial-gradient(#fdecd4, #d9953d) border-box;

    border: 4px solid transparent;
    border-radius: 50px;

    cursor: pointer;
    transition: background 0.3s ease;
    min-width: 200px;
    max-width: 335px;
}



.login-button:hover {
    background: #5c3d14;
}

/* Optional: error message style */
.error-message {
    color: red;
    margin-bottom: 10px;
}